<html>

<head>
    <title>Transfer money</title>
</head>

<body>
    <div>
        Transfer
        <form action="Home/TransferAmt" method=post>
            Amount <input type="text" name="amount" value="" /><br /> Account No. <input type="text" name="account" value="" />
            <br />
            <input type=submit value="Add Money" />
        </form>
    </div>
</body>

</html>